version: '3.8'
services:
  app:
    build: .
    volumes:
      - ./src:/var/www/html/
    ports:
      - "8080:80"
    depends_on:
      db:
        condition: service_healthy
  
  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: estudo1234
      MYSQL_DATABASE: estudo
      MYSQL_USER: user
      MYSQL_PASSWORD: senha
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
      
volumes:
  dbdata:
